.display {
  display: none;
}

* {
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

* ul {
  list-style: none;
  padding: 0;
}

* a {
  text-decoration: none;
}

body {
  margin: 0;
}

.centered {
  text-align: center;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container .hide {
    display: none;
  }
}

.container .row:before, .container .row:after {
  content: "";
  display: table;
  clear: both;
}

.container .row [class*="col-"] {
  float: left;
  min-height: 2px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container .row .col-1 {
    width: 8.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-2 {
    width: 16.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-4 {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-5 {
    width: 41.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-7 {
    width: 58.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-8 {
    width: 66.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-9 {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-10 {
    width: 83.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-11 {
    width: 91.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-12 {
    width: 100%;
  }
}

.container .clearfix:before, .container .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .container .hide {
    display: none;
  }
}

header {
  width: 100vw;
  height: 10vw;
  background-color: #13bbd2;
}

header .container nav {
  width: 100%;
  height: 100%;
}

header .container nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
}

header .container nav .logo img {
  height: 100%;
  width: 100%;
  border: 2px solid #56d0df;
  border-radius: 10px;
}

header .container nav .profile {
  height: 100%;
  display: flex;
  align-items: center;
}

header .container nav .profile .avatar img {
  border: 2px solid transparent;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

header .container nav .profile .profileDetails {
  padding-left: 3vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .container nav .profile .profileDetails .profileName {
  height: 20%;
  color: white;
  font-size: 2vw;
  text-transform: capitalize;
}

header .container nav .profile .profileDetails .profileFunctions {
  height: 40%;
  width: 100%;
}

header .container nav .profile .profileDetails .profileFunctions li {
  height: 100%;
}

header .container nav .profile .profileDetails .profileFunctions li img {
  height: 3vw;
  width: 3vw;
}

header .container nav .menu {
  height: 100%;
}

header .container nav .menu ul {
  height: 100%;
  margin: 0;
}

header .container nav .menu ul li {
  height: 100%;
}

header .container nav .menu ul li a {
  width: 100%;
  height: 100%;
  font-size: 1.1vw;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header .container nav .menu ul li a img {
  height: 4vw;
  width: 4vw;
  margin-bottom: 10px;
}

header .container nav .menu ul li a:active {
  color: black;
}

header .container nav .menu ul li:hover {
  background-color: black;
}

header .container nav .searchLogout {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .container nav .searchLogout .searchBar img {
  height: 4vw;
  width: 4vw;
}

header .container nav .searchLogout .searchBar input[type=text] {
  display: none;
  width: 100px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

header .container nav .searchLogout .logout img {
  position: relative;
  top: -2px;
  height: 4vw;
  width: 4vw;
}

header .container nav .searchLogout .logout a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container nav .searchLogout .logout a:before {
  display: block;
  height: 5vw;
  width: 2px;
  background-color: #56d0df;
  content: "";
}

main {
  width: 100vw;
  height: 90vh;
  background-color: #d9dada;
}
