* {
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

* ul {
  list-style: none;
  padding: 0;
}

* a {
  text-decoration: none;
}

body {
  margin: 0;
}

.centered {
  text-align: center;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container .hide {
    display: none;
  }
}

.container .row:before, .container .row:after {
  content: "";
  display: table;
  clear: both;
}

.container .row [class*="col-"] {
  float: left;
  min-height: 2px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container .row .col-1 {
    width: 8.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-2 {
    width: 16.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-4 {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-5 {
    width: 41.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-7 {
    width: 58.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-8 {
    width: 66.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-9 {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-10 {
    width: 83.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-11 {
    width: 91.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .container .row .col-12 {
    width: 100%;
  }
}

.container .clearfix:before, .container .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .container .hide {
    display: none;
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.displayNone {
  display: none;
}

header {
  width: 100vw;
  height: 10vw;
  background-color: #13bbd2;
}

header .container nav {
  width: 100%;
  height: 100%;
}

header .container nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
}

header .container nav .logo img {
  height: 100%;
  width: 100%;
  border: 2px solid #56d0df;
  border-radius: 10px;
}

header .container nav .profile {
  height: 100%;
  display: flex;
  align-items: center;
}

header .container nav .profile .avatar img {
  border: 2px solid transparent;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

header .container nav .profile .profileDetails {
  padding-left: 3vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .container nav .profile .profileDetails .profileName {
  height: 20%;
  color: white;
  font-size: 2vw;
  text-transform: capitalize;
}

header .container nav .profile .profileDetails .profileFunctions {
  height: 40%;
  width: 100%;
}

header .container nav .profile .profileDetails .profileFunctions li {
  height: 100%;
}

header .container nav .profile .profileDetails .profileFunctions li img {
  height: 3vw;
  width: 3vw;
}

header .container nav .menu {
  height: 100%;
}

header .container nav .menu ul {
  height: 100%;
  margin: 0;
}

header .container nav .menu ul li {
  height: 100%;
}

header .container nav .menu ul li a {
  width: 100%;
  height: 100%;
  font-size: 1.1vw;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header .container nav .menu ul li a img {
  height: 4vw;
  width: 4vw;
  margin-bottom: 10px;
}

header .container nav .menu ul li a:active {
  color: black;
}

header .container nav .menu ul li:hover {
  background-color: black;
}

header .container nav .searchLogout {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header .container nav .searchLogout .searchBar img {
  height: 4vw;
  width: 4vw;
}

header .container nav .searchLogout .searchBar input[type=text] {
  display: none;
  width: 100px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

header .container nav .searchLogout .logout img {
  position: relative;
  top: -2px;
  height: 4vw;
  width: 4vw;
}

header .container nav .searchLogout .logout a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container nav .searchLogout .logout a:before {
  display: block;
  height: 5vw;
  width: 2px;
  background-color: #56d0df;
  content: "";
}

main {
  width: 100vw;
  background-color: #d9dada;
}

main .container {
  padding: 30px 0;
  width: 100%;
}

main .container .finance h2 {
  margin: 0;
  font-weight: 400;
  font-size: 3vw;
}

main .container .finance .addRecord {
  display: flex;
  justify-content: flex-end;
}

main .container .finance .addRecord span {
  line-height: 40px;
}

main .container .finance .addRecord button {
  line-height: 40px;
  background: none;
  border: none;
  background-color: #13bbd2;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  height: 40px;
  width: 100px;
  margin-left: 15px;
  outline: none;
}

main .container .finance .addRecord button:hover {
  color: black;
  background-color: white;
}

main .container .finance .status {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
}

main .container .finance .status .statusInfo {
  padding-right: 120px;
}

main .container .finance .status .statusInfo h3 {
  font-weight: 400;
}

main .container .finance .status .statusInfo p {
  font-size: 1.25em;
  font-weight: 900;
}

main .container .finance .status .accountAnalysis {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container .finance .status .accountAnalysis p {
  padding-right: 15px;
}

main .container .finance .status .accountAnalysis div {
  border-radius: 3px;
  background-color: white;
  height: 30px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container .finance .status .accountAnalysis div button {
  padding: 0;
  line-height: 24px;
  background: none;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  height: 24px;
  width: 33px;
  outline: none;
  text-align: center;
}

main .container .finance .status .accountAnalysis div .analysisOff {
  background-color: #d9dada;
}

main .container .finance .status .accountAnalysis div .analysisOn {
  background-color: #01cc01;
}

main .container .finance > div {
  display: flex;
  align-items: center;
}

main .container .chart {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

main .container .others h3 {
  font-weight: 100;
  font-size: 1em;
  width: 100%;
}

main .container .others .products {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
}

main .container .others .products > div {
  width: 48%;
  height: 7vw;
  background-color: white;
  border-radius: 3px;
  padding: 5px 5px;
  margin-right: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
}

main .container .others .products > div img {
  height: 5vw;
  width: 5vw;
}

main .container .others .products > div div {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  padding-left: 5px;
  width: 50%;
}

main .container .others .products > div div p {
  width: 100%;
  margin: 0;
}

main .container .others .products > div:hover {
  background-color: #13bbd2;
  color: white;
}

main .container .others .history {
  width: 48%;
  margin-left: 2%;
}

main .container .others .history h3 {
  font-weight: 100;
  font-size: 1em;
  width: 100%;
}

main .container .others .history select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-image: url(../images/ic_arrow_down.png);
  background-position: center right;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main .container .others .history > ul {
  background-color: white;
  border-radius: 3px;
  height: 22.8vw;
  overflow: auto;
}

main .container .others .history > ul .transaction {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container .others .history > ul .transaction div {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

main .container .others .history > ul li:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d9dada;
}

main .container .others .history > ul li:hover {
  background-color: #13bbd2;
  color: white;
}

main .container .others .history > ul li:hover select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #13bbd2;
  color: white;
  background-image: url(../images/ic_arrow_down_white.png);
  background-position: right;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
