$mainColor: #13bbd2;
$secondColor: #d9dada; 
$navBarBorders: #56d0df;

$column: 12;
$site-width: 1200px;
$min-site-width: 320px;
$tablet-breakpoint: 768px;
$tablet-up: "only screen and (min-width: 768px)";
$tablet-down: "only screen and (max-width: 768px)";

@mixin clear {

    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin hideForMobile {
    @media #{$tablet-down} {
            display: none;
        }
}

* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
}

body {
    margin: 0;
}

.centered {
    text-align: center;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: $site-width;
    min-width: $min-site-width;
    margin: 0 auto;

    .row {

        @include clear();

        [class*="col-"] {

            float: left;
            min-height: 2px;
            width: 100%;
        }

        @for $i from 1 through $column {
            .col-#{$i} {
                @media #{$tablet-up} {
                    width: (100%/$column)*$i;

                }

            }
        }
    }
    .clearfix {
        @include clear();
    }

    .hide {
        @media #{$tablet-up} {
            display: none;
        }
    }
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.displayNone {
    display: none;
}

.notification {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}

header {
    width: 100vw;
    height: 10vw;
    background-color: $mainColor;
    .container {
        nav {
            width: 100%;
            height: 100%;
            @media #{$tablet-down} {
                display: flex;
                justify-content: space-between;
            }

            .logo {

                height: 100%;
                display: flex;
                align-items: center;

                img {
                    @media #{$tablet-down} {
                        height: 9vw;
                        width: 9vw;
                        display: flex;
                    }
                    height: 100%;
                    width: 100%;
                    border: 2px solid $navBarBorders;
                    border-radius: 10px;
                }
            }

            .profile {

                height: 100%;
                display: flex;
                align-items: center;

                .avatar {
                    @include hideForMobile();
                    img {
                        border: 2px solid transparent;
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                    }
                    
                }

                .profileDetails {
                    padding-left: 3vw;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @media #{$tablet-down} {
                        display: flex;
                        flex-direction: row;
                        padding: 0;
                    }

                    .profileName {
                        height: 20%;
                        color: white;
                        font-size: 2vw;
                        text-transform: capitalize;
                        @media #{$tablet-down} {
                            height: 100%;
                            width: 100%;
                            font-size: 4vw;
                        }
                    }

                    .profileFunctions {
                        height: 40%;
                        width: 100%;
                        @media #{$tablet-down} {
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }

                        @media #{$tablet-down} {
                            ul {
                                padding-left: 20px; 
                                width: 100%;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                            }
                        }

                        li {
                            height: 100%;
                            img {
                                height: 3vw;
                                width: 3vw;

                                @media #{$tablet-down} {
                                    height: 6vw;
                                    width: 6vw;
                                }
                            }
                        }
                    }
                }
            }

            .menu {
                @include hideForMobile();

                height: 100%;
                ul {
                    height: 100%;
                    margin: 0;
                    li {
                        height: 100%;
                        a {
                            width: 100%;
                            height: 100%;
                            font-size: 1.1vw;
                            color: white;
                            text-transform: uppercase;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            img {
                                height: 4vw;
                                width: 4vw;
                                margin-bottom: 10px;
                            }
                        }
                        a:active {
                            color: black;
                        }
                    }
                    li:hover {
                        background-color: black;
                    }
                }
                
            }

            .searchLogout {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                .searchBar {
                    display: flex;
                    align-items: center;

                    img {
                        height: 4vw;
                        width: 4vw;
                        cursor: pointer;
                        @media #{$tablet-down} {
                            height: 8vw;
                            width: 8vw;
                        }
                    }
                    input[type=text] {
                        display: none;
                        height: 30px;
                        width: 150px;
                        margin-right: 10px;
                        padding: 5px;
                        border: none;
                        border-radius: 3px;
                        @media #{$tablet-down} {
                            width: 100%;
                        }
                    }
                }

                .logout {
                    img {
                        position: relative;
                        top: -2px;
                        height: 4vw;
                        width: 4vw;
                        @media #{$tablet-down} {
                            height: 8vw;
                            width: 8vw;
                        }
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    a:before {
                        display: block;
                        height: 5vw;
                        width: 2px;
                        background-color: $navBarBorders;
                        content: "";
                    }
                }
            }
        }
    }
}

main {
    width: 100vw;
    height: 100%;
    background-color: $secondColor;

    .container {
        padding: 30px 0;
        width: 100%;
        
        .finance {

            h2 {
                margin: 0;
                font-weight: 400;
                font-size: 3vw;
                @media #{$tablet-down} {
                    font-size: 6vw;
                }                
            }

            .addRecord {
                @include hideForMobile();
                display: flex;
                justify-content: flex-end;

                span {
                    @include hideForMobile();
                    line-height: 40px;
                    font-size: 1.15vw;
                }

                button {
                    @include hideForMobile();
                    font-size: 1.15vw;
                    line-height: 40px;
                    background: none;
                    border: none;
                    background-color: $mainColor;
                    border-radius: 3px;
                    color: white;
                    text-transform: uppercase;
                    height: 40px;
                    width: 100px;
                    margin-left: 15px;
                    outline: none;
                }

                button:hover {
                    color: black;
                    background-color: white;
                    cursor: pointer;
                }
            }

            .status {
                display: flex;
                justify-content: flex-start;
                flex-flow: wrap;

                .statusInfo {
                    padding-right: 120px;

                    h3 {
                        font-weight: 400;   
                        font-size: 1.7vw;
                        @media #{$tablet-down} {
                            font-size: 4vw;
                        }                
                    }

                    p {
                        font-size: 1.5vw;
                        font-weight: 900;
                        @media #{$tablet-down} {
                            font-size: 3vw;
                        } 
                    }
                }

                .accountAnalysis {
                    @include hideForMobile();

                    margin-left: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        padding-right: 15px;
                    }

                    div {
                        border-radius: 3px;
                        background-color: white;
                        height: 30px;
                        width: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            padding: 0;
                            line-height: 24px;
                            background: none;
                            border: none;
                            border-radius: 3px;
                            text-transform: uppercase;
                            height: 24px;
                            width: 33px;
                            outline: none;
                            text-align: center;
                            cursor: pointer;
                            
                        }

                        .analysisOff {
                            background-color: $secondColor;
                        }
                        .analysisOn {
                            background-color: #01cc01;
                        }
                    }
                }
            }

            
        }

        .finance > div {
            display: flex;
            align-items: center;

            .chart {
                @include hideForMobile();

                width: 100%;
                height: 350px;
                border-radius: 5px;
                background-color: white;
                margin-bottom: 10px;

            }
        }

        .chart {
            img {
                @include hideForMobile();
            }
        }

        .others {

            h3 {
                font-weight: 100;
                font-size: 1.25vw;
                width: 100%;

                @media #{$tablet-down} {
                    font-size: 3vw;
                } 
            }
            .products {
                display: flex;
                flex-flow: wrap;
                justify-content: flex-start;
                align-items: center;
                padding-left: 1%; 
            }

            .products > div {
                    width: 48%;
                    height: 7vw;
                    background-color: white;
                    border-radius: 3px;
                    padding: 5px 5px;
                    margin-right: 2%;
                    margin-bottom: 2%;
                    display: flex;
                    flex-flow: wrap;
                    justify-content: flex-start;
                    align-items: center;

                    img {
                        height: 5vw;
                        width: 5vw;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        flex-flow: wrap;
                        padding-left: 5px;
                        width: 50%;
                        font-size: 1.35vw;
                        @media #{$tablet-down} {
                            font-size: 2vw;
                        }  

                        p {
                            width: 100%;
                            margin: 0;
                        }
                    }
            }

            .products > div:hover {
                background-color: $mainColor;
                color: white;
            }

            .history {
                width: 48%;

                @media #{$tablet-down} {
                    width: 96%;
                }
                margin: 0 1%;

                h3 {
                    font-weight: 100;
                    font-size: 1.25vw;
                    width: 100%;
                    @media #{$tablet-down} {
                        font-size: 3vw;
                    } 
                }

                select {
                    -webkit-appearance: button;
                    -moz-appearance: button;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -webkit-padding-end: 20px;
                    -moz-padding-end: 20px;
                    -webkit-padding-start: 2px;
                    -moz-padding-start: 2px;
                    background-image: url(../images/ic_arrow_down.png);
                    background-position: center right;
                    background-repeat: no-repeat;
                    border: none;
                    outline: none;
                    font-size: inherit;
                    margin: 0;
                    overflow: hidden;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .history > ul {
                background-color: white;
                border-radius: 3px;
                height: 22.8vw;
                overflow: auto;


                .transaction {
                    padding-left: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        display: flex;
                        justify-content: space-between;
                        flex-flow: wrap;
                    }

                    .amount {
                        padding-right: 10px; 
                    }
                }

                li:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $secondColor;
                }

                li:hover {
                    background-color: $mainColor;
                    color: white;

                    select {
                        -webkit-appearance: button;
                        -moz-appearance: button;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -webkit-padding-end: 20px;
                        -moz-padding-end: 20px;
                        -webkit-padding-start: 2px;
                        -moz-padding-start: 2px;
                        background-color: $mainColor;
                        color: white;
                        background-image: url(../images/ic_arrow_down_white.png);
                        background-position: right;
                        background-repeat: no-repeat;
                        border: none;
                        outline: none;
                        font-size: inherit;
                        margin: 0;
                        overflow: hidden;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        cursor: pointer;
                    }
                }

            }
        }
    }
}