$mainColor: #13bbd2;
$secondColor: #d9dada; 
$navBarBorders: #56d0df;

.display {
    display: none;
}

$column: 12;
$site-width: 1200px;
$min-site-width: 320px;
$tablet-breakpoint: 768px;
$tablet-up: "only screen and (min-width: 768px)";
$tablet-down: "only screen and (max-width: 768px)";

@mixin clear {

    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
}

body {
    margin: 0;
}

.centered {
    text-align: center;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: $site-width;
    min-width: $min-site-width;
    margin: 0 auto;

    .hide {
        @media #{$tablet-up} {
            display: none;
        }
    }

    .row {

        @include clear();

        [class*="col-"] {

            float: left;
            min-height: 2px;
            width: 100%;
        }

        @for $i from 1 through $column {
            .col-#{$i} {
                @media #{$tablet-up} {
                    width: (100%/$column)*$i;

                }

            }
        }
    }
    .clearfix {
        @include clear();
    }

    .hide {
        @media #{$tablet-up} {
            display: none;
        }
    }
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

header {
    width: 100vw;
    height: 10vw;
    background-color: $mainColor;
    .container {
        nav {
            width: 100%;
            height: 100%;

            .logo {
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    height: 100%;
                    width: 100%;
                    border: 2px solid $navBarBorders;
                    border-radius: 10px;
                }
            }

            .profile {
                height: 100%;
                display: flex;
                align-items: center;

                .avatar {
                    img {
                        border: 2px solid transparent;
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                    }
                    
                }

                .profileDetails {
                    padding-left: 3vw;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .profileName {
                        height: 20%;
                        color: white;
                        font-size: 2vw;
                        text-transform: capitalize;
                    }

                    .profileFunctions {
                        height: 40%;
                        width: 100%;

                        li {
                            height: 100%;
                            img {
                                height: 3vw;
                                width: 3vw;
                            }
                        }
                    }
                }
            }

            .menu {
                height: 100%;
                ul {
                    height: 100%;
                    margin: 0;
                    li {
                        height: 100%;
                        a {
                            width: 100%;
                            height: 100%;
                            font-size: 1.1vw;
                            color: white;
                            text-transform: uppercase;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            img {
                                height: 4vw;
                                width: 4vw;
                                margin-bottom: 10px;
                            }
                        }
                        a:active {
                            color: black;
                        }
                    }
                    li:hover {
                        background-color: black;
                    }
                }
                
            }

            .searchLogout {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                .searchBar {
                    img {
                        height: 4vw;
                        width: 4vw;
                    }
                    input[type=text] {
                        display: none;
                        width: 100px;
                        -webkit-transition: width 0.4s ease-in-out;
                        transition: width 0.4s ease-in-out;
                    }
                }

                .logout {
                    img {
                        position: relative;
                        top: -2px;
                        height: 4vw;
                        width: 4vw;
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    a:before {
                        display: block;
                        height: 5vw;
                        width: 2px;
                        background-color: $navBarBorders;
                        content: "";
                    }
                }
            }
        }
    }
}

main {
    width: 100vw;
    background-color: $secondColor;

    .container {
        padding: 30px 0;
        width: 100%;
        
        .finance {

            h2 {
                margin: 0;
                font-weight: 400;
                font-size: 3vw;                
            }

            .addRecord {
                display: flex;
                justify-content: flex-end;

                span {
                    line-height: 40px;
                }

                button {
                    line-height: 40px;
                    background: none;
                    border: none;
                    background-color: $mainColor;
                    border-radius: 3px;
                    color: white;
                    text-transform: uppercase;
                    height: 40px;
                    width: 100px;
                    margin-left: 15px;
                    outline: none;
                }
            }

            .status {
                display: flex;
                justify-content: flex-start;
                flex-flow: wrap;

                .statusInfo {
                    padding-right: 120px;

                    h3 {
                        font-weight: 400;                   
                    }

                    p {
                        font-size: 1.25em;
                        font-weight: 900;
                    }
                }

                .accountAnalysis {
                    margin-left: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        padding-right: 15px;
                    }

                    div {
                        border-radius: 3px;
                        background-color: white;
                        height: 30px;
                        width: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            padding: 0;
                            line-height: 24px;
                            background: none;
                            border: none;
                            border-radius: 3px;
                            text-transform: uppercase;
                            height: 24px;
                            width: 33px;
                            outline: none;
                        }

                        button[name="analysisOff"] {
                            background-color: white;
                            text-align: center;
                        }
                        button[name="analysisOn"] {
                            background-color: #01cc01;
                            text-align: center;
                        }
                    }
                }
            }

            
        }

        .finance > div {
            display: flex;
            align-items: center;
        }

        .chart {
            width: 100%;
            height: 350px;
            border-radius: 5px;
            background-color: white;
            margin-bottom: 10px;
        }

        .others {

            h3 {
                font-weight: 100;
                font-size: 1em;
                width: 100%;
            }
            .products {
                display: flex;
                flex-flow: wrap;
                justify-content: flex-start;
                align-items: center;
            }

            .products > div {
                    width: 48%;
                    height: 7vw;
                    background-color: white;
                    border-radius: 3px;
                    padding: 5px 5px;
                    margin-right: 2%;
                    margin-bottom: 2%;
                    display: flex;
                    flex-flow: wrap;
                    justify-content: flex-start;
                    align-items: center;

                    img {
                        height: 5vw;
                        width: 5vw;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        flex-flow: wrap;
                        padding-left: 5px; 

                        p {
                            width: 100%;
                            margin: 0;
                        }
                    }
            }

            .history {
                width: 48%;
                height: 7vw;
                margin-left: 2%;
                background-color: white;
            }
        }
    }
}